.image-size {
    width: auto;
    height: auto;
    max-width: 800px;
    max-height: 800px;
  }


.container {
    display: flex;
    position: relative;
    justify-content: center; /* Center the children horizontally */
    align-items: center;     /* Center the children vertically */
    height: 80vh;           /* Full viewport height */
}

.information-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
  }



.color-picker {
    display: flexbox;
    flex-grow: 1;
    margin: 10px;
    position: fixed; /* Positioning it absolutely */
    right: 5rem;           /* Align to the right edge of the container */
    top: 50%;           /* Align to the vertical center */
    transform: translateY(-50%); /* Offset the div by half its height */
}



.button-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Adjust the gap as needed */
    margin-top: 20px; /* Adjust the top margin as needed */
}

.button-width {
    width: 200px;
}