.image-size {
    padding: 10px;
    width: auto;
    height: auto;
    max-width: 800px;
    max-height: 800px;
    background-color: black;
  }


.container {
    display: flex;
    justify-content: center; /* Center the children horizontally */
    align-items: center;     /* Center the children vertically */
    height: 80vh;           /* Full viewport height */
}



.color-picker {
    display: flexbox;
    margin-left: 100px;
    position: absolute; /* Positioning it absolutely */
    right: 10rem;           /* Align to the right edge of the container */
    top: 50%;           /* Align to the vertical center */
    transform: translateY(-50%); /* Offset the div by half its height */
}



.button-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Adjust the gap as needed */
    margin-top: 20px; /* Adjust the top margin as needed */
}

.button-width {
    width: 200px;
}